version: '3.9'
services:
  homelab-discord-bot:
    build: .
    restart: unless-stopped
    environment:
      - DISCORD_TOKEN
      - DISCORD_ALLOWED_CHANNEL_ID
      - DISCORD_ALLOWED_USER_ID
      - DISCORD_REPORT_CHANNEL_ID
      - TZ=America/New_York
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
